@import url('./../components/logo.css');

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: var(--header-height, 10rem);
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .1);
    background: var(--color-bg-primary);
    color: var(--color-accenet);
    text-align: center;
    transition: height .3s ease, background-color .3s ease;
    overflow: hidden;
    padding-block: 1rem;
}

.header.scrolled {
    --header-height: 7rem;

    background-color: var(--color-bg-primary-muted);
}

.header__row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 0 .5rem;
}

.header__title {
    --title-card-color: var(--color-accenet);

    margin: 0;
    line-height: 1;
}

.header__text {
    margin: 0;
}

.logo {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    text-decoration: none;
}

.logo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}