@import url('./../components/logo.css');

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: var(--header-height, 8.5rem);
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .1);
    background: var(--color-bg-header);
    color: var(--color-accenet);
    text-align: center;
    transition: height .3s ease, background-color .3s ease;
    overflow: hidden;
    padding-block: 1rem;
}

.header.scrolled {
    --header-height: 5.5rem;

    background-color: var(--color-bg-header-scrolled);
}

.header__row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header__title {
    margin: 0 0 1rem;
    line-height: 1;
}

.header__text {
    margin: 0;
}