.card {
    background-color: var(--color-bg);
    border-radius: var(--radius-md);
    padding: 1rem;
    text-align: center;
    box-shadow: var(--shadow-sm);
}

.image {
    display: block;
    width: 100%;
    border-radius: var(--radius-sm);
    object-fit: cover;
    aspect-ratio: 3 / 2;
}

.price {
    font-weight: bold;
    margin: .5rem 0;
}

.card__actions {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-sm);
}

.qty-display {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: .1rem solid #eee;
    background: var(--color-accenet);
    height: 100%;
}

.qty-badge {
    font-weight: bold;
    color: var(--color-primary);
    min-width: 20px;
    text-align: center;
}
