.cart {
    position: absolute;
    top: 50%;
    right: 1rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    background: var(--color-blue-250);
    border-radius: var(--radius-sm);
    cursor: pointer;
    transform: translateY(-50%);
}

.cart.is-disabled {
    cursor: default;
    pointer-events: none;
}

.cart img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart__info {
    position: absolute;
    top: 50%;
    right: calc(100% + 1rem);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: flex-end;;
    width: max-content;
    transform: translateY(-50%);
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.cart-summary {
    margin: 1rem;
}

.cart-row {
    border-bottom: .1rem solid #eee;
}

.cart-row__visible {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}

.cart-row__visible:hover {
    background: #fcfcfc;
}

.cart-row__details {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-sm);
}

.cart-row__details.hidden {
    display: none;
}