.cart-modal {
    position: fixed;
    display: flex;
    z-index: 20;
    justify-content: center;
    align-items: flex-end;
    visibility: hidden;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: background .35s ease, opacity .35s ease, visibility .35s ease;
    pointer-events: none;
    inset: 0;
}

.cart-modal.is-open {
    visibility: visible;
    background: rgba(0, 0, 0, .7);
    opacity: 1;
    pointer-events: auto;
}

.cart-content {
    position: absolute;
    top: 1rem;
    right: 0;
    width: 100%;
    max-width: 360px;
    max-height: 90%;
    padding: 1.5rem;
    background: var(--color-accenet);
    border-radius: var(--radius-lg) 0 0 var(--radius-lg);
    transform: translateX(100%);
    transition: transform .35s ease;
    overflow-y: auto;
    pointer-events: auto;
}

.cart-modal.is-open .cart-content {
    transform: translateX(0);
}

.cart-content.is-confirming .cart-items-container {
    user-select: none;
    pointer-events: none;
    filter: blur(4px);
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.modal-title {
    margin-top: 1rem;
}

.confirm-actions {
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
    gap: var(--gap-lg);
}

.cart-content.is-confirming .confirm-actions {
    display: flex;
}

.cart-content.is-confirming #buy-btn {
    display: none;
}

.action-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-sm);
}