html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 8px;
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 10px;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background: var(--color-bg);
    color: var(--color-text);
    font: var(--font-weight-sm) var(--font-size-md)/var(--line-height-md) var(--font-main);
}

.title-hero {
    margin: var(--title-hero-margin, 0);
    color: var(--title-hero-color, var(--color-text-bold));
    font-family: var(--title-hero-font-family, var(--font-accent));
    font-size: var(--title-hero-font-size, clamp(5.4rem, 5.4vw, 9.2rem));
    font-weight: var(--title-hero-font-weight, 700);
    line-height: var(--title-hero-line-height, 1.1);
}

.title-section {
    margin: var(--title-section-margin, 0 0 var(--gap-xl));
    color: var(--title-section-color, var(--color-text-bold));
    font-family: var(--title-section-font-family, var(--font-accent));
    font-size: var(--title-section-font-size, var(--font-size-xl));
    font-weight: var(--title-section-font-weight, 600);
    line-height: var(--title-section-line-height, 1.2);
}

.title-card {
    margin: var(--title-card-margin, 0 0 var(--gap-xl));
    color: var(--title-card-color, var(--color-text-bold));
    font-family: var(--title-card-font-family, var(--font-accent));
    font-size: var(--title-card-font-size, var(--font-size-lg));
    font-weight: var(--title-card-font-weight, 600);
    line-height: var(--title-card-line-height, 1.2);
}

.sub-title {
    margin: var(--sub-title-marginб 0);
    color: var(--sub-title-colorб var(--color-text-bold));
    font-family: var(--sub-title-font-familyб var(--font-accent));
    font-size: var(--sub-title-font-sizeб var(--font-size-md));
    font-weight: var(--sub-title-font-weightб 500);
    line-height: var(--sub-title-line-heightб 1.2);
}