html {
    box-sizing: border-box;
    font-size: 8px;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 10px;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font: var(--font-weight-sm) var(--font-size-md)/var(--line-height-md) var(--font-main);
    background: var(--color-bg);
    color: var(--color-text);
}

.title-hero {
    font-family: var(--font-accent);
    font-size: clamp(5.4rem, 5.4vw, 9.2rem);
    font-weight: 700;
    line-height: 1.1;
    color: var(--color-text-bold);
    margin: 0;
}

.title-section {
    font-family: var(--font-accent);
    font-size: var(--font-size-xl);
    font-weight: 600;
    line-height: 1.2;
    color: var(--color-text-bold);
    margin: 0 0 var(--gap-xl);
}

.title-card {
    font-family: var(--font-accent);
    font-size: var(--font-size-lg);
    font-weight: 600;
    line-height: 1.2;
    color: var(--color-text-bold);
    margin: 0 0 var(--gap-xl);
}

.sub-title {
    font-family: var(--font-accent);
    font-size: var(--font-size-md);
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-text-bold);
    margin: 0;
}